/*Style your own assignment! This is fun! */

@font-face {
  font-family: "Caveat";
  src: url(https://cdn.glitch.global/97d0aa55-f508-4ad6-8727-a9ae2438189c/Caveat-VariableFont_wght.ttf?v=1662499872789)
    format("truetype");
}

h1 {
  font-family: "Caveat";
  font-weight: 48;
}

p {
  font-family: "Caveat";
  font-weight: 48;
  border: 2px solid #647847;
  background-color: #fbdf9e;
}

body{
  background-image: url("https://cdn.glitch.global/97d0aa55-f508-4ad6-8727-a9ae2438189c/lukas-blazek-GnvurwJsKaY-unsplash.jpg?v=1662408164982");
  background-color: #A69586;
  background-size: 100% auto;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  text-align: center;
  border: 2px solid #647847;
  background-color: #fbdf9e;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  width: 50%
}

input {
  background-color: fbdf9e;
  border: 2px solid #647847;
  padding: 3px;
  
}

table, th, td {
  font-family: "Caveat";
  border-collapse: separate;
  border: 2px solid #647847;
  background-color: #fbdf9e;
  text-align: center;
  padding: 15px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
